# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
# .env

# Plugin directory
/.quarkus/cli/plugins/
# TLS Certificates
.certs/

# key pairs for JWT
src/main/resources/jwt/

# build artifact (BUILD_PATH=frontend npm run build)
src/main/frontend/frontend/
src/main/frontend/build/

# integrated frontend build artifact
src/main/resources/frontend/
src/main/resources/build/
